@charset "UTF-8";

body {
	border: 1px solid #ccc;
}

.wrap {
	max-width: 1280px;
	position: relative;
	margin: 0 auto;
}

.container {
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 1fr;
}

.detailImg {
	position: relative;
    margin: 100px auto 0;
    max-width: 1200px;
}

.item:nth-child(1) {
	/* 1번 라인에서 2칸 */
	grid-column: 1;
	/* 1번 라인에서 3칸 */
	grid-row: 1;
	/* 1번 라인에서 2칸 */
	grid-column: 2;
	/* 1번 라인에서 3칸 */
	grid-row: 2 / span 4;
}

.item .title {
	margin: 0 100px 0 0;
    font-size: 14px;
    word-break: break-all;
}

.detailInfo {
    margin: 10px 0 0;
    padding: 0 0 0;
    
}

#footer {
	clear: both; /* 양쪽 플로팅 해제 */
	padding: 20px;
}
