@charset "UTF-8";

.btn { /* 버튼 투명도 */
	opacity: 0;
}

 .btn > label {
	padding: 5px 10px; border: 1px solid #ccc; border-radius: 3px;
}

input[type="radio"]:checked + label {
	font-weight: bold; 
	color: black;
} 