<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>exhibition</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- DB연동관련 시작 -->
  
  <!-- DBCPInitListener -->
  <listener>
  	<listener-class>jdbc.DBCPInitListener</listener-class>
  </listener>
  <!-- DBCPInitListener -->
  
  <context-param>
  <param-name>poolConfig</param-name>
  <param-value>
  		jdbcdriver=com.mysql.cj.jdbc.Driver
        jdbcUrl=jdbc:mysql://errorpassing.cxa1cmtvlx16.ap-northeast-2.rds.amazonaws.com:3306/LookAt?useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=UTC
        dbUser=admin
        dbPass=ep123123
        validationQuery=select 1
        minIdle=3
        maxTotal=30
        poolName=exhi
  </param-value>
  </context-param>
  
  <!-- DB연동관련 끝 -->
  
  <!-- MVC 컨트롤러 -->
   <servlet>
      <servlet-name>ControllerUsingURI</servlet-name>
      <servlet-class>mvc.controller.ControllerUsingURI</servlet-class>
      
      <!-- p536참고 11라인 ~ 15라인 -->
      <init-param>
         <param-name>configFile</param-name>
         <param-value>/WEB-INF/commandHandlerURI.properties</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>ControllerUsingURI</servlet-name>
      <url-pattern>*.do</url-pattern>
   </servlet-mapping>
   
   <!-- 세션 유효시간 : 분단위 -->
   <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
  
</web-app>